<form class="form-inline" (ngSubmit)="onSearch()" #searchForm="ngForm">
  <div class="form-group mx-sm-3">
    <input [ngModel]="query$ | async" (ngModelChange)="query = $event" required name="query" type="text" class="form-control"
      placeholder="Szukaj na youtube">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!searchForm.form.valid">Szukaj</button>
</form>
<pre>
  {{selected$ | async | json}}
</pre>

<a class="btn btn-primary" [routerLink]="['../list']">Favoritie Videos</a>

<ng-container *ngIf="response$ | async as videos; else elseTemplate">

  <div class="card-group">

    <app-video-item *ngFor="let video of videos" [video]="video" [videos]="videos">

        <button class="btn btn-primary" (click)="addFavorite(video)">favorite</button>

        <!-- <a href="#" appVideoTop class="btn btn-warning">DELETE</a>
        <a href="#" appVideoRight class="btn btn-info ">EDIT</a> -->

    </app-video-item>
  </div>

</ng-container>

<ng-template #elseTemplate>
  <p>
    Searching youtube for <b>{{query}}</b>...
  </p>
</ng-template>

<h2>Favorites videos</h2>
<div *ngFor="let favoriteVideo of favorites$ | async">
{{favoriteVideo.id}} - {{favoriteVideo.video.snippet.title}} <span class="btn btn-text" (click)="deleteFavorite(favoriteVideo)">remove</span>
</div>

<!-- <p (click)="showList = !showList">
  Szukam: {{query}}
</p> -->
<!-- <pre >
  OBSERVABLE:
  {{(response$ | async ).[0].name}}
  {{(response$ | async ).[0].surname}}
</pre> -->

<!-- <img src="{{video | thumb:'small'}}" alt=""> -->

<!-- <app-thumb [item]="video" size="small"></app-thumb> -->

<!-- {{video.getThumb('small')}} -->
<!-- <pre>
  NORMAL:
  {{response | json}}
</pre> -->
